<h1>Users</h1>
<div *ngIf="users.length">
  <div *ngFor = "let user of users">
    <div>
      <p><b>Id:</b> {{user.Id}}</p>
      <p><b>Name:</b> {{ user.Name }}</p>
      <p><b>Email:</b> {{ user.Email }}</p>
      <p><b>Team:</b> {{ user.Team.name }}</p>
      <p><b>Birthday:</b> {{ user.Birthday | ukrainianDate }}</p>
      <p><b>Registration date:</b> {{user.RegisteredAt | ukrainianDate }}</p>
    </div>
    <div>
      <button (click)="showEditForm(user.Id)">Edit</button>
    </div>
  </div>
</div>
<div>
  <button (click)="createNewUser()">Create new task</button>
</div>

<div *ngIf="!users.length">
  <h2>List is empty!</h2>
</div>

