<nav>
  <ul>
    <li><a [routerLink]="['project/list']">Projects</a></li>
  </ul>
  <ul>
    <li><a [routerLink]="['team/list']">Team</a></li>
  </ul>
  <ul>
    <li><a [routerLink]="['task/list']">Tasks</a></li>
  </ul>
  <ul>
    <li><a [routerLink]="['user/list']">Users</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
