<form [formGroup]="taskForm" (ngSubmit)="onSubmit()" #saveForm="ngForm">
  <div>
    <label for="Name">Name: </label>
    <input type="text" id="Name" formControlName="Name">
  </div>

  <div>
    <label for="Description">Description: </label>
    <input type="text" id="Description" formControlName="Description">
  </div>

  <div>
    <label for="User">User: </label>
    <select id="User" formControlName="User">
      <option *ngFor="let user of users" [ngValue]="user">{{user.Email}}</option>
    </select>
  </div>

  <div>
    <label for="Project">Project: </label>
    <select id="Project" formControlName="Project">
      <option *ngFor="let project of projects" [ngValue]="project">{{project.name}}</option>
    </select>
  </div>

  <div>
    <label for="State">Task state: </label>
    <input type="number" id="State" formControlName="State">
  </div>

  <div>
    <label for="FinishedAt">Finished at: </label>
    <input type="date" id="FinishedAt" formControlName="FinishedAt">
  </div>


  <p>{{taskForm.status}}</p>
  <button type="submit" [disabled]="!taskForm.valid">Save</button>
</form>
