<form [formGroup]="teamForm" (ngSubmit)="onSubmit()" #saveForm="ngForm">
  <div>
    <label for="name">Name: </label>
    <input type="text" id="name" formControlName="name">
  </div>

  <p>{{teamForm.status}}</p>
  <button type="submit" [disabled]="!teamForm.valid">Save</button>
</form>
