<form [formGroup]="userForm" (ngSubmit)="onSubmit()"  #saveForm="ngForm">
  <div>
    <label for="Name">Name: </label>
    <input type="text" id="Name" formControlName="Name">
  </div>

  <div>
    <label for="Email">Email: </label>
    <input type="text" id="Email" formControlName="Email">
  </div>

  <div>
    <label for="Team">Team: </label>
    <select id="Team" name="Team" formControlName="Team">
      <option *ngFor="let team of teams" [ngValue]="team"> {{team.name}}</option>
    </select>
  </div>
  <div>
    <label for="Birthday">Birthday: </label>
    <input type="date" id="Birthday" formControlName="Birthday">
  </div>

  <p>{{userForm.status}}</p>
  <button type="submit" [disabled]="!userForm.valid">Save</button>
</form>
