<h1>Projects</h1>
<div *ngIf="projects.length">
  <div *ngFor = "let project of projects">
    <div>
      <p><b>Name:</b> {{ project.name }}</p>
      <p><b>Description</b> {{project.description}}</p>
      <p><b>Deadline</b> {{project.deadline | ukrainianDate}}</p>
      <p><b>Team</b> {{project.team.name}}</p>
      <p><b>Author</b> {{project.author.Email}}</p>
    </div>
    <div>
      <button (click)="showEditForm(project.id)">Edit</button>
    </div>
  </div>

</div>
<div>
  <button (click)="createNewProject()">Create new project</button>
</div>
<div *ngIf="!projects.length">
  <h2>List is empty!</h2>
</div>
