<form [formGroup]="taskForm" (ngSubmit)="onSubmit()" #saveForm="ngForm">
  <div>
    <label for="Name">Name: </label>
    <input type="text" id="Name" name="Name" formControlName="Name">
  </div>

  <div>
    <label for="Description">Description: </label>
    <input type="text" id="Description" name="Description" formControlName="Description">
  </div>

  <div>
    <label for="User">User: </label>
    <select id="User" name="User" formControlName="User">
      <option *ngFor="let user of users" [ngValue]="user">{{user.Email}}</option>
    </select>
  </div>

  <div>
    <label for="Project">Project: </label>
    <select id="Project" name="Project" formControlName="Project">
      <option *ngFor="let project of projects" [ngValue]="project">{{project.name}}</option>
    </select>
  </div>

  <div>
    <label for="State">Task State: </label>
    <input type="number" min="0" max="{{getTaskStateNumber()}}" id="State" name="State" formControlName="State">
  </div>

  <div>
    <label for="FinishedAt">Finished At: </label>
    <input type="date" id="FinishedAt" name="FinishedAt" formControlName="FinishedAt">
  </div>
  <p>{{taskForm.status}}</p>
  <button [disabled]="!taskForm.valid">Create</button>
</form>
