<form [formGroup]="teamForm" (ngSubmit)="onSubmit()" #saveForm="ngForm">
  <div>
    <label for="Name">Name: </label>
    <input type="text" id="Name" name="Name" formControlName="Name">
  </div>
  <p>{{teamForm.status}}</p>
  <button [disabled]="!teamForm.valid">Create</button>
</form>
