<h1>Tasks</h1>
<div *ngIf="tasks.length">
  <div *ngFor = "let task of tasks">
    <div>
      <p><b>Id:</b> {{task.Id}}</p>
      <p><b>Name:</b> {{ task.Name }}</p>
      <p><b>Description:</b> {{ task.Description }}</p>
      <p><b>Project:</b> {{ task.Project.name }}</p>
      <p><b>User:</b> {{ task.User.Email }}</p>
      <p><span *ngIf="task.State==0"><i appTaskHighlight></i></span><b>State:</b> {{ taskState(task) }}</p>
      <p><b>Creation date:</b> {{task.CreatedAt | ukrainianDate }}</p>
      <p><b>Finished at:</b>
        <span *ngIf="task.FinishedAt">{{task.FinishedAt | ukrainianDate }}</span>
        <span *ngIf="!task.FinishedAt">Unfinished</span>
      </p>
    </div>
    <div>
      <button (click)="showEditForm(task.Id)">Edit</button>
    </div>
  </div>
</div>
<div>
  <button (click)="createNewTask()">Create new task</button>
</div>

<div *ngIf="!tasks.length">
  <h2>List is empty!</h2>
</div>

