<form [formGroup]="projectForm" (ngSubmit)="onSubmit()" #userForm="ngForm">
  <div>
    <label for="name">Name: </label>
    <input type="text" id="name" formControlName="name">
  </div>

  <div>
    <label for="description">Description: </label>
    <input type="text" id="description" formControlName="description">
  </div>

  <div>
    <label for="team">Team: </label>
    <select id="team" name="team" formControlName="team">
      <option *ngFor="let team of teams" [ngValue]="team">{{ team.name }}</option>
    </select>
  </div>

  <div>
    <label for="author">Author: </label>
    <select id="author" name="author" formControlName="author">
      <option *ngFor="let author of users" [ngValue]="author">{{ author.Name + " - " + author.Email }}</option>
    </select>
  </div>

  <div>
    <label for="deadline">Deadline: </label>
    <input type="date" id="deadline" formControlName="deadline"
    value="{{ project.deadline.toString() | date:'yyyy-MM-dd' }}" >
  </div>
  <div>
    <span>Created at {{project.createdAt.toString() | date: 'yyyy-MM-dd'}}</span>
  </div>
  <p>{{projectForm.status}}</p>
  <button type="submit" [disabled]="!projectForm.valid">Save</button>
</form>
