<h1>Teams</h1>
<div *ngIf="teams.length">
  <div *ngFor = "let team of teams">
    <div>
      <p><b>Name:</b> {{ team.name }}</p>
      <p><b>Creation date:</b> {{team.createdAt | ukrainianDate }}</p>
    </div>
    <div>
      <button (click)="showEditForm(team.id)">Edit</button>
    </div>
  </div>
</div>
<div>
  <button (click)="createNewTeam()">Create new team</button>
</div>

<div *ngIf="!teams.length">
  <h2>List is empty!</h2>
</div>

