<form [formGroup]="userForm" (ngSubmit)="onSubmit()" #saveForm="ngForm">
  <div>
    <label for="Name">Name: </label>
    <input type="text" id="Name" name="Name" formControlName="Name">
  </div>

  <div>
    <label for="Email">Email: </label>
    <input type="email" id="Email" name="Email" formControlName="Email" ngModel [email]="true">
  </div>

  <div>
    <label for="Team">Team: </label>
    <select name="Team" id="Team" formControlName="Team">
      <option *ngFor="let team of teams" [ngValue]="team">{{team.name}}</option>
    </select>
  </div>

  <div>
    <label for="Birthday">Birthday: </label>
    <input type="date" id="Birthday" name="Birthday" formControlName="Birthday">
  </div>
  <p>{{userForm.status}}</p>
  <div *ngIf="Email">
    <div *ngIf="(Email.invalid && Email.touched) || Email.dirty">
      <small *ngIf="Email.errors?.required" class="text-danger">Primary email is required</small>
      <!--question mark(?) is a safe navigation operator-->
      <small *ngIf="Email.errors?.pattern" class="text-danger">Please provide a valid email address</small>
    </div>
  </div>
  <button type="submit" [disabled]="!userForm.valid">Create</button>
</form>
